
<% if user_signed_in? %>

  <h1>signed in</h1>
  <ul>
    <% @books.each do |book| %>
      <li><%= book[:title] %> - <%= book[:author] %><br>
        ISBN: <%= book[:isbn] %> </li>
    <% end %>
  </ul>
    <a href="/search" >Search database for books already added</a><br>
    <a href="/<%= @user %>" >Your profile</a><br>
    <a href="/<%= @user %>/add_a_book" >Add a book from API!</a><br>
    <a href="/<%= @user %>/book_list" >Your book list</a>
    <br/>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>

<h1>hello!</h1>

<a href="/login" >login</a>

