<% if user_signed_in? %>

  <h1>Show (index) Page for my Books</h1>

  <h1>signed in</h1>
  <div id="bookshelf">
    <% @books.each_with_index do |book, i| %>
      <div id=<%= "book#{i}" %> style=<%= "background-image:url();left:#{i * 50}px" %>> <%= book[:title] %></div>
    <% end %>   
  </div>

  <ul>
    <% @books.each do |book| %>
      <li><%= book[:title] %> - <%= book[:author] %><br>
        ISBN: <%= book[:isbn] %><br>
        Genre: <%= book[:genre] %></li>
        <button>Book Has Been Shipped</button>
    <% end %>
  </ul>
    <%= @books %>
    <a href="/" >Home</a><br>
    <a href="/<%= @user %>/add_a_book" >Add a book from API!</a><br>
    <a href="/search" >Search database for books already added</a><br>
    <a href="/<%= @user %>/book_list" >Detailed Book List</a><br>
    <a href="/users/edit" >Edit your info dude</a><br>
    <a href="/<%= @user %>/profile" >My Profile Page</a>

    <br/>
    <br><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  
    
  <% end %>