<% if user_signed_in? %>
<%= render 'layouts/header' %>
<a href="/" >Home</a>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<h1 class="searchbar">Add a book</h1>


<%= form_tag "/party", class: "partyform", method: "get", url: ("/party") do %>

<%= select_tag :search_type, options_for_select(["Title", "Author", "ISBN"].map {|x| [x, x]}) %>
<br/>
<%= text_field_tag :search_input %>
<%= submit_tag "Find your Book" , class: "findsubmit" %>
<% end %>

<br>
<br>

<% @book_details.each do |book| %>
<hr/>
<p class="findtitle"><strong><%= book[:title] %></strong></p>
	<br><br>
<p class="findbooks">
<%= book[:authors] %><br>
<%= book[:isbn] %><br>
<%= book[:description] %><br>
<%= book[:genre] %><br>
<%= button_to "Add Book to Shelf", {action: "create"}, class: "addbook", params: {"title" => book[:title] , "authors" => book[:authors], "isbn" => book[:isbn], "description" => book[:description], "genre" => book[:genre], "user_id" => current_user.id} %>
</p>
<% end %>



<% end %>
