<% if user_signed_in? %>
<%= render 'layouts/header' %>
<br><br><br><h1 class="searchbar">Add a Book</h1>
<body class="booksadd">
<h2><%=@msg%></h2>

<%= form_tag "/party", class: "partyform", method: "get", url: ("/party") do %>

<%= select_tag :search_type, options_for_select(["Title", "Author", "ISBN"].map {|x| [x, x]}) %>
<br/>
<%= text_field_tag :search_input %>
<%= submit_tag "Find your Book" , class: "findsubmit" %>
<% end %>

<br>
<br>
<div class="apilist">
<% @book_details.each do |book| %>
<hr/>
<h3 class="findtitle"><strong><%= book[:title] %></strong></h3>
	<br><br>
<p class="findbooks">
Author(s): <%= book[:authors] %><br>
ISBN: <%= book[:isbn] %><br>
<%= book[:description] %><br>
<%= book[:genre] %><br><br>
<%= button_to "Add Book to Shelf", {action: "create"}, class: "addbook", params: {"title" => book[:title] , "authors" => book[:authors], "isbn" => book[:isbn], "description" => book[:description], "genre" => book[:genre], "user_id" => current_user.id} %>
</p>
</body>
<% end %>
</div>



<% end %>
