<% if user_signed_in? %>
<a href="/" >Home</a><br>

<h1> Profile Page</h1>
<h2>Welcome <%= @user.username %>! This is your user information:</h2>

  <strong>Username:</strong> <%= @user.username %><br>
  <br><strong>Email:</strong> <%= @user.email %><br>
  <br><strong>First Name:</strong> <%= @user.firstname %><br>
  <br><strong>Last Name:</strong> <%= @user.lastname %><br>
  <br><strong>Favorite Genre:</strong> <%= @user.genre %><br>
  <br><strong>Address:</strong><br>
  <%= @user.building_num %> <%= @user.street %> <%= @apt_num %><br>
  <%= @user.city %>,
  <%= @user.state %><br>
  <%= @user.zip_code %><br>
  <br><strong>Phone:</strong> <%= @user.phone %><br>

<br><a href="/users/edit" >Edit your info dude</a><br>

<br><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<% end %>
