<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<% if user_signed_in? %>
<%= render 'layouts/header' %>
	<br><br>
<%= search_form_for @search, class: "partyform", url: ('/search')  do |f| %>
  <%= f.label "Search by Title, Author, Genre or ISBN" %>
  <br>
  <%= f.search_field :title_or_author_or_isbn_or_genre_cont %>
    <br>
  <div class="signup_text"><%= f.submit "Search" , class: "findsubmit" %></div>
<% end %>

<ul class="searchul">

<% @search_result.each do |book| %>

  <% if book[:status] == "Shelfed" %>
  <li><%= book.title %>, <%= book.author %>, <%= book.genre %><br>Owned By:  <%= book.user.email %>
   <br><a href="/search/request_trade?id=<%= book.id%>">Request book</a>
    | <a href="/<%= book.user.id %>/book_list" >Check out their shelf!</a></li><br>
  <% end %>
  <% end %>





<% end %>
