<%= render 'header' %>


<%= search_form_for @q, url: ('/search')  do |f| %>
  <%= f.label "Search by Title, Author, Genre or ISBN" %>
  <%= f.search_field :title_or_author_or_isbn_or_genre_cont %>
  <%= f.submit "Search" %>
<% end %>

<ul>
<% @resu.each do |book| %>
  <li><%= book.title %> owned by:  <%= book.user.email %> Request book: <a href="/books/request_trade?id=<%= book.id %>">Click</a></li>
<% end %>
</ul>