
<% if user_signed_in? %>
<%= render "layouts/header" %>
<h1 class="bookshelftitle">My Bookshelf Info</h1>
  <div id="bookshelf">
    <% @books.each_with_index do |book, i| %>
      <div class="books_image" style=<%= "background-image:url('/assets/book#{rand(25..46)}');left:#{i * 52}px" %>><span class="title_text"> <%= book[:title] %></span></div>
    <% end %>   
  </div>

<ul class="findtitle">
  <% if @user == @userid %>
  <% @books.each do |book| %>
  <hr/>
  <li><strong><%= book[:title] %></strong><br>
    <%= book[:author] %><br>
    ISBN: <%= book[:isbn] %><br>
    <%= link_to "Remove Book", book, method: :delete %> </li>
  <% end %>
  <% else %>
  <% @books.each do |book| %>
  <hr/>
    <li><strong><%= book[:title] %></strong><br>
      <%= book[:author] %><br>
      ISBN: <%= book[:isbn] %><br>
      <a href="/books/request_trade?id=<%= book.id %>">Request Book</a>
    <% end %>
  <% end %>
</ul>
<% end %>

<br><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
