
<% if user_signed_in? %>
<%= render "layouts/header" %>

<ul class="indexbooklist">
  <% if @user == @userid %>
  <% @books.each do |book| %>
  <li><%= book[:title] %> - <%= book[:author] %><br>
    ISBN: <%= book[:isbn] %><br>
    Remove book: <%= link_to "Remove Book", book, method: :delete %> </li>
  <% end %>
  <% else %>
  <% @books.each do |book| %>
    <li><%= book[:title] %> - <%= book[:author] %><br>
      ISBN: <%= book[:isbn] %><br>
      Request book: <a href="/books/request_trade?id=<%= book.id %>">Click</a>
    <% end %>
  <% end %>
</ul>
<% end %>

<br><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
