
<% if user_signed_in? %>
  <h1>signed in</h1>
    <h2> your book list </h2>
    <ul>
      <% @books.each do |book| %>
        <li><%= book[:title] %> - <%= book[:author] %><br>
          ISBN: <%= book[:isbn] %> </li>
          Request book: <a href="/books/request_trade?id=<%= book.id %>">Click</a>
      <% end %>
    </ul>
    <a href="/" >Home</a><br>
    <a href="/<%= @user %>/add_a_book" >Add a book from API!</a><br>
    <a href="/search" >Search database for books already added</a><br>
    <a href="/<%= @user %>/book_list" >Your book list</a><br>
    <a href="/<%= @user %>" >Your profile</a><br><br>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <!-- <%= @message %> -->
  <% end %>
