<body class="loginbody">
   <h1 class="header">Attr_Reader</h1>
   <div class="container">

    <div class="trade">
      <h1>A modern way to trade books</h1>
      <p>Find the novel or textbook you need, and request a trade directly from the owner! Explore our massive selection of books and read on</p>
    </div>


    <div class="setup">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "users"}) do |f| %>

        <div class="logsign">
        <h2 class="login">Login</h2>
        <h2 class="signup">Sign Up</h2>
        </div>

        <div class="field">
           <%= f.label :email %><br />
           <%= f.email_field :email, class: 'username', autofocus: true %>
          </div>

          <div class="field">
           <%= f.label :password %><br />
             <%= f.password_field :password, class: 'password',  autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

        <div class="actions submit">
           <%= f.submit "Log in", class: 'submit'%>
        </div>
      <% end %>
      <strong><%= render "devise/shared/links" %></strong>
    </div>

    <script>
    $('.submit').click(function(){
    $('form').submit();
   })
   $('.signup').click(function(){
    window.location = "/users/sign_up";
   })
   </script>

</div>
</body>
