<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>
<body class="loginbody">
   <h1 class="header">Attr<span class="underscore">_</span>Reader </h1>
   <div class="container">

    <div class="trade">
      <h1>A Modern Way to Trade Books</h1>
      <p><p>Find the novel or textbook you need and request a trade<br>directly from the owner!<br>Explore our massive selection of books and read on!</p>
    </div>

    <div class="setup">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "users"}) do |f| %>

        <div class="logsign">
        <h2 class="login pagelogin">Login</h2>
        <h2 class="signup pagesignup">Sign Up</h2>
        </div>

        <div class="field">
           <div class="signup_text"><%= f.label :email %><br /></div>
           <%= f.email_field :email, class: 'username', autofocus: true %>
          </div>

          <div class="field">
           <div class="signup_text"><%= f.label :password %><br /></div>
             <%= f.password_field :password, class: 'password',  autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <div class="signup_text"><%= f.label :remember_me %></div>
            </div>
          <% end %>

        <div class="actions submit">
           <div class="signup_text"><%= f.submit "Log in", class: 'submit'%></div>
        </div>
      <% end %>
      <strong><div class="signup_text forgot_password"><%= render "devise/shared/links" %></strong></div>
    </div>

    <script>
    $('.submit').click(function(){
    $('form').submit();
   })
   $('.signup').click(function(){
    window.location = "/users/sign_up";
   })
   </script>

</div>
</body>
