<h1>You've got a book request!</h1>

<p>
  <%= @greeting %>
  You have receieved a trade request from <%= @recipient.firstname %>!
  <h3>Please send the book to:</h3>
  <%= @recipient.street %> <%= @recipient.apt_num %><br>
  <%= @recipient.city %>, <%= @recipient.state %><br>
  <%= @recipient.zip_code %>
  
</p>
